<%- include("partials/header") %>

    <h1>
        <%= currentUser.username %>'s Profile</h1>
    <p>Bio:</p>

    <p>
        <%= currentUser.bio %>
    </p>
    <img src="<%= currentUser.image.url %>">
    <p>Recent posts:</p>

    <% projects.forEach(function(pojects) { %>
        <div>
            <a href="/projects/<%= project.id %>">
                <%= project.title %>
            </a>
        </div>
        <p>Update User Info:</p>

        <form action="/profile?_method=PUT" method="POST" id="update-profile">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="username" value="<%= currentUser.username %>" autofocus required>
            </div>
            <div>
                <label for="current-password">Current Password (required to update profile):</label>
                <input type="password" id="current-password" name="currentPassword" placeholder="current password" required>
            </div>
            <div>
                <label for="new-password">New Password:</label>
                <input type="password" id="new-password" name="newPassword" placeholder="new password">
            </div>
            <div>
                <label for="password-confirmation">New Password Confirmation:</label>
                <input type="password" id="password-confirmation" name="passwordConfirmation" placeholder="password confirmation">
            </div>
            <div id="validation-message" class="alert"></div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="email" value="<%= currentUser.email %>" required>
            </div>
            <div>
                <label for="image">Image:</label>
                <input type="file" id="image" name="image">
            </div>

            <input type="submit">
        </form>

        <script src="/javascript/profile.js"></script>

        <%- include("partials/footer") %>