<%- include("partials/header") %>

    <%- include("partials/logobar") %>

        <div class="container">
            <div class="">
                <div class="display-4">
                    <%= project.title %>
                </div>
                <div class="">
                    <div class=""><img class="img-fluid" src="<%= project.image %>">
                    </div>
                    <div class="lead">
                        <p>
                            <%= project.description %>
                        </p>
                    </div>
                    <a href="/projects/<%= project._id %>/edit" class="btn btn-warning btn-sm">EDIT</a>
                    <form id="delete" action="/projects/<%= project._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm">Delete</button>
                    </form>
                </div>

            </div>
        </div>

        <%- include("partials/footer") %>