<%- include("../partials/header") %>

    <div class="container pt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Edit:
                    <%= project.title%>
                </h1>
                <form action="/projects/<%= project.id%>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
                    <div class="card card-body mb-2">
                        <label for="" class="font-weight-bold">Project Type:</label>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="project[type]" id="inlineRadio1" value="Residential" <%if (project.type==="Residential" ){ %> checked
                                <% } %>>
                                    <label class="form-check-label" for="inlineRadio1">Residential</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="project[type]" id="inlineRadio2" value="Commercial" <%if (project.type==="Commercial" ){ %> checked
                                <% } %>>
                                    <label class="form-check-label" for="inlineRadio2">Commercial</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="project[type]" id="inlineRadio3" value="Art" <%if (project.type==="Art" ){ %> checked
                                <% } %>>
                                    <label class="form-check-label" for="inlineRadio3">Art</label>
                            </div>


                            <div class="form-group">
                                <label for="" class="font-weight-bold">Project Title:</label>
                                <input class="form-control" type="text" name="project[title]" placeholder="Project Title" value="<%= project.title%>" required>
                            </div>
                            <label for="" class="font-weight-bold">Image Uploads</label>
                            <div class="form-group">
                                <input type="file" id="imageUpload" accept="images/*" name="images" multiple />
                                <div class="row mt-3">
                                    <% project.images.forEach(function(image, i) {%>
                                        <div class="col-2">
                                            <img src="<%= image.url%>" alt="uploaded image" width="100px" class="d-block">
                                            <label for="image<%= i %>">Delete?</label>
                                            <input type="checkbox" name="deleteImages[]" class="imgDelCheckbox" id="image<%= i %>" value="<%=image.public_id %>">
                                        </div>
                                        <%});%>
                                </div>
                            </div>
                            <label for="" class="font-weight-bold">Project Description Text:</label>
                            <div class="form-group">
                                <textarea class="form-control" cols="20" rows="2" name="project[description]" required><%= project.description%></textarea>
                            </div>
                            <label for="" class="font-weight-bold">Project Details Text:</label>
                            <div class="form-group">

                                <textarea class="form-control" cols="30" rows="6" name="project[details]" required><%= project.details%></textarea>
                            </div>
                            <label for="" class="font-weight-bold">Project Address:</label>
                            <div class="form-row form-group">
                                <div class="col-5">
                                    <input type="text" class="form-control" name="project[projAddressStreet]" placeholder="Street" value="<%= project.projAddressStreet%>">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="project[projAddressCity]" placeholder="City" value="<%= project.projAddressCity%>">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="project[projAddressState]" placeholder="State" value="<%= project.projAddressState%>">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="project[projAddressZip]" placeholder="Zip" value="<%= project.projAddressZip%>">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-info btn-block mb-2" type="button" data-toggle="collapse" data-target="#collapseProject" aria-expanded="true" aria-controls="collapseProject">
                    Add Additional Project Information (Recommended)
                    </button>
                    <div class="collapse" id="collapseProject">
                        <div class="card card-body mb-2">
                            <label class="h5 text-center" for="">Project Info</label>


                            <label for="" class="font-weight-bold">Project Timeline:</label>
                            <div class="form-row form-group">
                                <div class="col-6">
                                    <input class="form-control" type="text" name="project[dateStarted]" placeholder="Date Started" id="" value="<%= project.dateStarted%>"> </div>
                                <div class="col-6">
                                    <input class="form-control" type="text" name="project[dateCompleted]" placeholder="Date Completed" id="" value="<%= project.dateCompleted%>"> </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="font-weight-bold">Collaborators:</label>
                                <input class="form-control" type="text" name="project[collaborators]" placeholder="Collaborators" value="<%= project.collaborators%>">
                                <div class="input-group pt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">http://</div>
                                    </div>
                                    <input class="form-control" type="text" name="project[collaboratorWebsite]" placeholder="Website URL" value="<%= project.collaboratorWebsite%>">
                                </div>
                            </div>

                            <label for="" class="font-weight-bold">Project Finances:</label>
                            <div class="form-row form-group ">
                                <div class="col-6 ">
                                    <label for=" ">Expenses</label>
                                    <input class="form-control " type="text " name="project[cost] " placeholder="100.00 " id=" " value="<%=project.expenses%>"> </div>
                                <div class="col-6">
                                    <label for="">Revenue</label>
                                    <input class="form-control" type="text" name="project[price]" placeholder="750.00" id="" value="<%= project.revenue%>"> </div>
                            </div>
                        </div>
                    </div>


                    <button class="btn btn-info btn-block mb-2" type="button" data-toggle="collapse" data-target="#collapseClient" aria-expanded="true" aria-controls="collapseClient">
    Add Client Information (Recommended)</button>
                    <div class="collapse" id="collapseClient">
                        <div class="card card-body mb-2">
                            <label class="h5 text-center" for="">Client Info</label>
                            <label for="" class="font-weight-bold">Client Contact:</label>
                            <div class="form-row form-group">
                                <div class="col">
                                    <input class="form-control" type="text" name="project[clientCompany]" placeholder="Company Name" value="<%= project.clientCompany%>"> </div>
                                <div class="col-4">
                                    <input class="form-control" type="text" name="project[clientName]" placeholder="Name" id="" value="<%= project.clientName%>"> </div>
                                <div class="col">
                                    <input class="form-control" type="text" name="project[clientContactPhone]" placeholder="Phone" id="" value="<%= project.clientContactPhone%>"> </div>
                                <div class="col">
                                    <input class="form-control" type="text" name="project[clientContactEmail]" placeholder="Email" id="" value="<%= project.clientContactEmail%>"> </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">http://</div>
                                </div>
                                <input class="form-control" type="text" name="project[clientWebsite]" placeholder="Website URL" id="" value="<%= project.clientWebsite%>"> </div>

                            <div class="form-group pt-3">
                                <label for="" class="font-weight-bold">Customer Reviews/comments:</label>
                                <textarea class="form-control" cols="20" rows="3" name="project[customerReview]"><%= project.customerReview%></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center mt-3">
                        <input class="btn btn-large btn-block btn-primary col-6" type="submit">
                    </div>
                </form>





                <div class="row mt-5 justify-content-center">
                    <div class=" text-center">
                        <form id="delete" action="/projects/<%= project.id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete Post</button></form>
                    </div>
                </div>
                <div>
                    <a href="/projects/<%= project.id%>">Go Back</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        let postEditForm = document.getElementById('postEditForm');
        postEditForm.addEventListener('submit', function(event) {
            let imageUploads = document.getElementById('imageUpload').files.length;
            let existingImgs = document.querySelectorAll('.imgDelCheckbox').length;
            let imgDeletions = document.querySelectorAll('.imgDelCheckbox:checked').length;
            let newTotal = existingImgs - imgDeletions + imageUploads;
            if (newTotal > 5) {
                event.preventDefault();
                let removalAmt = newTotal - 5;
                alert(`You need to remove at least ${newTotal-5} (more) image${removalAmt > 1 ? '' : 's'}!`);
            }
        });
    </script>


    <%- include("../partials/footer") %>