<%- include("partials/header") %>

    <div class="container pt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Edit:
                    <%= project.title%>
                </h1>
                <form action="/projects/<%= project._id%>?_method=PUT" method="POST">
                    <label for="">Project Type</label>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="project[type]" id="inlineRadio1" value="Residential">
                            <label class="form-check-label" for="inlineRadio1">Residential</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="project[type]" id="inlineRadio2" value="Commercial">
                            <label class="form-check-label" for="inlineRadio2">Commercial</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="project[type]" id="inlineRadio3" value="Art">
                            <label class="form-check-label" for="inlineRadio3">Art</label>
                        </div>


                        <div class="form-group">
                            <label for="">Title</label>
                            <input class="form-control" type="text" name="project[title]" placeholder="Project Title" value="<%= project.title%>" required>
                        </div>
                        <label for="">Main Image Link</label>
                        <div class="form-group">
                            <input class="form-control" type="text" name="project[image]" placeholder="image url" value="<%= project.image%>" required>
                        </div>

                        <button class="btn btn-secondary btn-block mb-2" type="button" data-toggle="collapse" data-target="#collapseImages" aria-expanded="false" aria-controls="collapseImages">
    Add More Images
  </button>
                        <div class="collapse" id="collapseImages">
                            <div class="card card-body mb-2">
                                <label for="">Additional Image Link 1</label>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="project[image1]" placeholder="image url" value="<%= project.image1%>">
                                </div>
                                <label for="">Additional Image Link 2</label>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="project[image2]" placeholder="image url" value="<%= project.image2%>">
                                </div>
                                <label for="">Additional Image Link 3</label>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="project[image3]" placeholder="image url" value="<%= project.image3%>">
                                </div>
                                <label for="">Additional Image Link 4</label>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="project[image4]" placeholder="image url" value="<%= project.image4%>">
                                </div>
                            </div>
                        </div>



                        <label for="">Project Description Text</label>
                        <div class="form-group">
                            <textarea class="form-control" cols="20" rows="2" name="project[description]" required><%= project.description%></textarea>
                        </div>
                        <label for="">Project Details Text</label>
                        <div class="form-group">

                            <textarea class="form-control" cols="30" rows="6" name="project[details]" required><%= project.details%></textarea>
                        </div>




                        <button class="btn btn-info btn-block mb-2" type="button" data-toggle="collapse" data-target="#collapseProject" aria-expanded="true" aria-controls="collapseProject">
    Add Additional Project Information (optional)
  </button>
                        <div class="collapse" id="collapseProject">
                            <div class="card card-body mb-2">
                                <label class="h5 text-center" for="">Project Info</label>
                                <label for="">Project Address</label>
                                <div class="form-row form-group">
                                    <div class="col-5">
                                        <input type="text" class="form-control" name="project[projAddressStreet]" placeholder="Street" value="<%= project.projAddressStreet%>">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" name="project[projAddressCity]" placeholder="City" value="<%= project.projAddressCity%>">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" name="project[projAddressState]" placeholder="State" value="<%= project.projAddressState%>">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" name="project[projAddressZip]" placeholder="Zip" value="<%= project.projAddressZip%>">
                                    </div>
                                </div>

                                <label for="">Project Materials</label>
                                <div class="form-row form-group">
                                    <div class="col-6">
                                        <input class="form-control" type="text" name="project[primaryMaterial]" placeholder="Primary" id="" value="<%= project.primaryMaterial%>"> </div>
                                    <div class="col-6">
                                        <input class="form-control" type="text" name="project[secondaryMaterial]" placeholder="Secondary" id="" value="<%= project.secondaryMaterial%>"> </div>
                                </div>

                                <label for="">Project Timeline</label>
                                <div class="form-row form-group">
                                    <div class="col-6">
                                        <input class="form-control" type="text" name="project[dateStarted]" placeholder="Date Started" id="" value="<%= project.dateStarted%>"> </div>
                                    <div class="col-6">
                                        <input class="form-control" type="text" name="project[dateCompleted]" placeholder="Date Completed" id="" value="<%= project.dateCompleted%>"> </div>
                                </div>

                                <div class="form-group">
                                    <label for="">Collaborators</label>
                                    <input class="form-control" type="text" name="project[collaborators]" placeholder="Collaborators" value="<%= project.collaborators%>">
                                    <div class="input-group pt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">http://</div>
                                        </div>
                                        <input class="form-control" type="text" name="project[collaboratorWebsite]" placeholder="Website URL" value="<%= project.collaboratorWebsite%>">
                                    </div>
                                </div>

                                <label for=" ">Project Finances</label>
                                <div class="form-row form-group ">
                                    <div class="col-6 ">
                                        <label for=" ">Expenses</label>
                                        <input class="form-control " type="text " name="project[cost] " placeholder="100.00 " id=" " value="<%=project.cost%>"> </div>
                                    <div class="col-6">
                                        <label for="">Revenue</label>
                                        <input class="form-control" type="text" name="project[price]" placeholder="750.00" id="" value="<%= project.price%>"> </div>
                                </div>
                            </div>
                        </div>


                        <button class="btn btn-info btn-block mb-2" type="button" data-toggle="collapse" data-target="#collapseClient" aria-expanded="true" aria-controls="collapseClient">
    Add Client Information (optional)
  </button>
                        <div class="collapse" id="collapseClient">
                            <div class="card card-body mb-2">
                                <label class="h5 text-center" for="">Client Info</label>
                                <label for="">Client Contact</label>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <input class="form-control" type="text" name="project[clientCompany]" placeholder="Company Name" value="<%= project.clientCompany%>"> </div>
                                    <div class="col-4">
                                        <input class="form-control" type="text" name="project[clientName]" placeholder="Name" id="" value="<%= project.clientName%>"> </div>
                                    <div class="col">
                                        <input class="form-control" type="text" name="project[clientContactPhone]" placeholder="Phone" id="" value="<%= project.clientContactPhone%>"> </div>
                                    <div class="col">
                                        <input class="form-control" type="text" name="project[clientContactEmail]" placeholder="Email" id="" value="<%= project.clientContactEmail%>"> </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">http://</div>
                                    </div>
                                    <input class="form-control" type="text" name="project[clientWebsite]" placeholder="Website URL" id="" value="<%= project.clientWebsite%>"> </div>

                                <div class="form-group pt-3">
                                    <label for="">Customer Reviews/comments</label>
                                    <textarea class="form-control" cols="20" rows="3" name="project[customerReview]"><%= project.customerReview%></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row justify-content-center mt-3">
                            <button class="btn btn-large btn-block btn-primary col-6" type="">Submit</button>
                        </div>
                        <div class="form-group row justify-content-center mt-5">
                            <form id="delete" action="/projects/<%= project._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-danger">Delete Post</button></form>
                        </div>

                    </div>


                </form>
                <a href="/projects/<%= project._id%>">Go Back</a>
            </div>
        </div>
    </div>


    <%- include("partials/footer") %>