<%- include("partials/header") %>

    <!-- <%- // include("partials/logobar") %> -->

    <div class="container-fluid mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
                <li class="breadcrumb-item">
                    <a href="/projects/#<%= project.type %>Header">
                        <%= project.type %>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <%= project.title %>
                </li>
            </ol>
        </nav>
        <div class="display-4 text-center pb-2">
            <%= project.title %>
        </div>
        <!-- image grid -->

        <!-- Main Image -->
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6 order-2 order-md-1">
                    <div class="list-group pb-2">
                        <li class="list-group-item active">Client Information</li>
                        <li class="list-group-item">
                            <p class="card-text">This project was completed for
                                <%= project.clientName%>. See our work in person or visit them online at
                                    <a href="http://<%= project.clientWebsite %>">
                                        <%= project.clientWebsite %>
                                    </a>
                            </p>
                        </li>
                        <li class="list-group-item"> <iframe class="card-img border-right" width="350" height="300" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtu_gSxLrO9DpwsKSeE9HnZpDRnA-ZXfo&q=<%= project.projAddressStreet.split(' ').join('+'); %>,<%= project.projAddressCity%>,<%= project.projAddressState%>">
                            </iframe></li>
                        <li class="list-group-item">
                            <blockquote class="blockquote">
                                <p class="mb-0">
                                    <%= project.customerReview%>
                                </p>
                                <footer class="blockquote-footer"><cite title="Source Title"><%=project.clientName%></cite></footer>
                            </blockquote>
                        </li>
                    </div>
                </div>
                <div class="col-md-6 order-1 order-md-2">
                    <div class="row align-items-start justify-content-center">
                        <div class="col-lg-12 pb-2" data-toggle="modal" data-target="#image">
                            <img role="button" src="<%= project.image %>" class="img-thumbnail img-fluid border shadow-sm" alt="...">
                        </div>
                    </div>
                    <div class="d-lg-none row align-items-start justify-content-center">
                        <div class="col-6  pb-2" data-toggle="modal" data-target="#image1">
                            <img role="button" src="<%= project.image1 %>" class="img-thumbnail img-fluid border shadow-sm" alt="...">
                        </div>
                        <div class="col-6 pb-2" data-toggle="modal" data-target="#image2">
                            <img role="button" src="<%= project.image2 %>" class="pointer img-thumbnail img-fluid border shadow-sm" alt="...">
                        </div>
                        <div class="col-6  pb-2" data-toggle="modal" data-target="#image3">
                            <img role="button" src="<%= project.image3 %>" class="pointer img-thumbnail img-fluid border shadow-sm" alt="...">
                        </div>
                        <div class="col-6 pb-2" data-toggle="modal" data-target="#image4">
                            <img role="button" src="<%= project.image4 %>" class="pointer img-thumbnail img-fluid border shadow-sm" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-flex row align-items-center mt-3 py-3 border-top border-bottom border-secondary">
                <div class="col-3" data-toggle="modal" data-target="#image1">
                    <img role="button" src="<%= project.image1 %>" class="img-thumbnail img-fluid border shadow-sm" alt="...">
                </div>
                <div class="col-3" data-toggle="modal" data-target="#image2">
                    <img role="button" src="<%= project.image2 %>" class="img-thumbnail img-fluid border shadow-sm" alt="...">
                </div>
                <div class="col-3" data-toggle="modal" data-target="#image3">
                    <img role="button" src="<%= project.image3 %>" class="img-thumbnail img-fluid border shadow-sm" alt="...">
                </div>
                <div class="col-3" data-toggle="modal" data-target="#image4">
                    <img role="button" src="<%= project.image4 %>" class="img-thumbnail img-fluid border shadow-sm" alt="...">
                </div>
            </div>

            <!-- Modals -->
            <div class="modal fade" id="image" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                <div class="modal-dialog modal-lg" data-dismiss="modal" aria-label="Close">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="<%= project.image %>" class="img-fluid border shadow-sm" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="image1" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                <div class="modal-dialog modal-lg" data-dismiss="modal" aria-label="Close">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="<%= project.image1 %>" class="img-fluid border shadow-sm" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="image2" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                <div class="modal-dialog modal-lg" data-dismiss="modal" aria-label="Close">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="<%= project.image2 %>" class="img-fluid border shadow-sm" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="image3" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                <div class="modal-dialog modal-lg" data-dismiss="modal" aria-label="Close">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="<%= project.image3 %>" class="img-fluid border shadow-sm" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="image4" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                <div class="modal-dialog modal-lg" data-dismiss="modal" aria-label="Close">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="<%= project.image4 %>" class="img-fluid border shadow-sm" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <!-- text -->

            <div class="lead my-3">
                <div class="lead">
                    <p><strong>
                        <%= project.description %></strong>
                    </p>
                    <p>
                        <%= project.details %>
                    </p>
                    <p>
                        This project was completed with the help of <strong>
                    <%= project.collaborators %></strong>.
                    </p>
                </div>
            </div>
        </div>



        <div class="p-5">
            <% if (!currentUser)  { %>
                <div></div>
                <% } else if (currentUser.username === "admin"){ %>
                    <a href="/projects/<%= project._id %>/edit" class="btn btn-warning btn-block">EDIT POST</a>
                    <% } %>
        </div>

    </div>

    <%- include("partials/footer") %>