<!-- Who We Are -->
<div id="whoWeAre" class="row justify-content-center align-items-center p-5 mt-n3">
    <!-- chris -->
    <% users.forEach(function (user, i) { %>
        <% if (user.display) { %>
            <% let j = num => num % 2; %>
                <div class="row justify-content-center align-items-center mb-4">
                    <div class="col-lg-5 col-12 content text-left p-2 lead order-<%= j(i)+1 %>">
                        <h2 class="border-bottom border-info">
                            <%= user.name %>
                        </h2>
                        <%- user.bio %>
                    </div>
                    <div class="col-lg-5 col-10 order-<%= j(i)+1 %> order-lg-1">
                        <img class=" img-fluid border border-info mx-auto shadow-sm about-image " src="<%=user.image.secure_url %>">
                    </div>
                </div>
                <% }}) %>
                    <!-- chili -->
                    <!-- <div class="row justify-content-center align-items-center ">
                    <div class="col-lg-5 col-12 content text-left p-2 lead order-2 ">
                        <h2 class="border-bottom border-info">Chilton Mendez</h2>
                        <p>
                            Chili is my partner at Mule. Born and raised in Wimberly, Texas, he operates as a shop manager at our space in east Austin.​
                        </p>
                        <p>
                            Chili is a talented woodworker, but he also seems to have an endless knowledge of every adjacent trade, and therefore is our installation specialist. He's worked in solar energy, built a tiny house, and is a certified forearm model, but his real expertise
                            is in problem solving. That's what makes him one of the best woodworkers in Austin. </p>

                    </div>
                    <div class="col-lg-5 col-10 order-2 order-lg-1">
                        <img class="img-fluid border border-info mx-auto shadow-sm" src="/imgs/chili.jpg ">
                    </div>
                </div> -->
</div>