<%- include("partials/header") %>
    <%- include("partials/logobar") %>

        <!-- Projects - expandable sections -->
        <div id="ResidentialHeader" class="pt-5 mt-n4">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-center btn-lg" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Residential Furniture <span class="badge badge-secondary ml-1 p-2 float-right"><%= projects.reduce((acc, cur) => cur.type === "Residential" ? ++acc : acc, 0);%></span>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="card-deck mx-1 mb-n3">
                                <div class="row">
                                    <% projects.forEach(function(project){ %>
                                        <% if (project.type === "Residential"){ %>
                                            <div class="col-12 col-md-6 col-lg-4">
                                                <div class="card mb-3">
                                                    <a href="/projects/<%= project._id%>"><img src="<%= project.image %>" class="card-img-top" alt="..."></a>
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <%= project.title %>
                                                        </h5>
                                                        <p class="card-text">
                                                            <%= project.description %>
                                                        </p>
                                                        <a class="btn btn-outline-dark btn-sm btn-block" href="/projects/<%= project._id%>">More Info</a>
                                                        <% if (currentUser){ %>
                                                            <a class="btn btn-warning btn-sm btn-block" href="/projects/<%= project._id%>/edit">Edit</a>
                                                            <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }}); %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="CommercialHeader" class="pt-5 mt-n5"></div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-center btn-lg" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Commercial Build-Outs<span class="badge badge-secondary ml-1 p-2 float-right"><%= projects.reduce((acc, cur) => cur.type === "Commercial" ? ++acc : acc, 0);%></span>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#headingTwo">
                        <div class="card-body">
                            <div class="card-deck mx-1 mb-n3">
                                <div class="row">
                                    <% projects.forEach(function(project){ %>
                                        <% if (project.type === "Commercial"){ %>
                                            <div class="col-12 col-md-6 col-lg-4">
                                                <div class="card mb-3">
                                                    <a href="/projects/<%= project._id%>"><img src="<%= project.image %>" class="card-img-top" alt="..."></a>
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <%= project.title %>
                                                        </h5>
                                                        <p class="card-text">
                                                            <%= project.description %>
                                                        </p>
                                                        <a class="btn btn-outline-info btn-sm btn-block" href="/projects/<%= project._id%>">More Info</a>
                                                        <% if (currentUser){ %>
                                                            <a class="btn btn-warning btn-sm btn-block" href="/projects/<%= project._id%>/edit">Edit</a>
                                                            <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }}); %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ArtHeader" class="pt-5 mt-n5"></div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-center btn-lg" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                Art / Other<span class="badge badge-secondary ml-1 p-2 float-right"><%= projects.reduce((acc, cur) => cur.type === "Art" ? ++acc : acc, 0);%></span>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#headingThree">
                        <div class="card-body">
                            <div class="card-deck mx-1 mb-n3">
                                <div class="row">
                                    <% projects.forEach(function(project){ %>
                                        <% if (project.type === "Art"){ %>
                                            <div class="col-12 col-md-6 col-lg-4">
                                                <div class="card mb-3">
                                                    <a href="/projects/<%= project._id%>"><img src="<%= project.image %>" class="card-img-top" alt="..."></a>
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <%= project.title %>
                                                        </h5>
                                                        <p class="card-text">
                                                            <%= project.description %>
                                                        </p>
                                                        <a class="btn btn-outline-secondary btn-sm btn-block" href="/projects/<%= project._id%>">More Info</a>
                                                        <% if (currentUser){ %>
                                                            <a class="btn btn-warning btn-sm btn-block" href="/projects/<%= project._id%>/edit">Edit</a>
                                                            <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }}); %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%- include("partials/who") %>
            <%- include("partials/footer") %>